/* main style of elements html */
body {
  display: flex;
  background-color: #dbdada;
}
.container-info {
  width: 45%;
  border: 3px solid #aeaeae;
  background-color: #fff;
  border-radius: 7px;
}
.container-info-head {
  height: 6%;
  width: 100%;
  background-color: #2b8de9;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.container-info-head p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  margin-left: 30px;
}
.container-info-pat {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 20px;
}
.container-info-pat label {
  margin-top: 10px;
}
.container-info-pat label input {
  border: none;
  border-bottom: 1px solid #aeaeae;
  outline: none;
}
.container-clear {
  width: 3%;
  background-color: #dbdada;
}
.container-pat {
  background-color: #fff;
  border-radius: 7px;
  width: 50%;
  border: 3px solid #aeaeae;
}
.container-pat-nav {
  height: 50px;
  background-color: #d8d8d8;
  display: flex;
  border-bottom: 2px solid #aeaeae;
}
/* button of here and quit pacient style */
.button-active {
  border-bottom: 2px solid #2b8de9;
  color: #2b8de9;
}
.btn-pat-here,
.btn-pat-quit {
  background-color: #d8d8d8;
  display: flex;
  outline: none;
  border: none;
  text-transform: uppercase;
}
.btn-pat-here:hover,
.btn-pat-quit:hover {
  border-bottom: 2px solid #2b8de9;
  color: #2b8de9;
  transition-duration: 0.3s;
}
.btn-pat-here-col,
.btn-pat-quit-col {
  margin: 0;
}
/* style of tables */
.table-here,
.table-quit {
  width: 100%;
}
.table-here-head,
.table-quit-head {
  margin-top: 8px;
  padding-left: 1%;
  display: flex;
  border-bottom: 1px solid #aeaeae;
}
.table-here-head-th,
.table-quit-head-th {
  width: 33%;
  color: #aeaeae;
  font-size: 12px;
  padding: 5px 0px;
  margin: 0;
}
.table-here-info,
.table-quit-info {
  padding-left: 1%;
  display: flex;
  border-bottom: 1px solid #aeaeae;
}
.table-here-info-td,
.table-quit-info-td {
  width: 33%;
  color: #000000;
  font-size: 12px;
  padding: 5px 0px;
  margin: 0;
}
.table-here-info:hover,
.table-quit-info:hover {
  background-color: #d6d3d3;
  height: 100%;
  width: 100%;
  border-left: 3px solid #2b8de9;
  border-radius: 1px;
  cursor: pointer;
}
.table-quit {
  display: none;
}
